
@media only  screen and (max-width:550px) {

    .titles h2{
        font-size: .8rem !important;
    }
    .watch-here{
        font-size: .7rem !important;
    }
    .titles p{
        font-size: .6rem;
    }
    .logo img{
        z-index: 3;
        width: 10%;
        margin:0 1rem;
    }
    .status .logo{
        display: contents;

    }
    .dashboard{
        display: none;
    }
    .links{
        display: none;
    }
    .status input{
        width: 75vw;
    }
    .status{

        align-items: center;

    }
    
}